:root {
  --primary-color: #3b82f6;
  --secondary-color: #6b7280;
  --success-color: #10b981;
  --danger-color: #ef4444;
  --warning-color: #f59e0b;
  --info-color: #38bdf8;

  --text-primary: #1f2937;
  --text-secondary: #6b7280;

  --bg-primary: #ffffff;
  --bg-secondary: #f9fafb;
  --bg-tertiary: #f3f4f6;

  --border-color: #e5e7eb;
}

.dark {
  --text-primary: #f9fafb;
  --text-secondary: #d1d5db;

  --bg-primary: #1f2937;
  --bg-secondary: #374151;
  --bg-tertiary: #4b5563;

  --border-color: #4b5563;
}
